.SideMenu {
    -fx-background-color: #355F00;
}

.ChildPane {
    -fx-background-color:  #D2DBC6;
}

.Header {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.Label {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 12;
}

.Message {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 12;
}

.TextBox {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 12;
}

.SideButton {
    -fx-background-color: #789455;
    -fx-alignment: center-left;
    -fx-background-radius: 25 0 0 25;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.SideButton:hover {
    -fx-background-color: #5A7C2F;
}

.Button {
    -fx-background-color: #789455;
    -fx-alignment: center;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.Button:hover {
    -fx-background-color: #5A7C2F;
}